:local(.images) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 270px;
}

:local(.Poster) {
  display: flex;
  max-width: 182px;
  max-height: 270px;
}

:local(.imageSpacer) {
  width: 10px;
}

:local(.secondImage) {
  display: flex;

  justify-content: flex-end;
  align-items: flex-start;
}
