:local(ul) {
  list-style: none;
}
:local(a) {
  text-decoration: none;
}

:local(.container) {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 667px;
  height: 645px;
  font-family: Arial;
}

:local(.spacer) {
  color: rgb(192, 192, 192);
  padding-left: 10px;
  padding-right: 10px;
}

:local(.buffer) {
  margin-bottom: 100px;
}
