:local(ul) {
  list-style: none;
}
:local(a) {
  text-decoration: none;
}

/* need to set container to width of pictures */
:local(.container) {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 667px;
  height: 645px;
  font-family: Arial;
}

:local(.mainTileHeading) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 667px;
  height: 58px;
  padding-bottom: 20px;
  padding-top: 20px;
}

:local(.ribbon) {
  display: flex;
  padding-right: 5px;
  padding-left: 15px;
  background-color: #333;
  border: none;
}

:local(.ribbonImg) {
  height: 40px;
  width: 40px;
}

:local(.titleAndDetails) {
  display: flex;
  flex-direction: column;
}

:local(.Title) {
  color: white;
  font-size: 36px;

  padding-bottom: 3px;
}
:local(.releaseYear) {
  color: silver;
  font-size: 25px;
  padding-left: 5px;
}

/* :local(.detailsLine) {
  display: flex;
  flex-direction: row;
  font-size: 15px;
} */

:local(.spacer) {
  color: rgb(192, 192, 192);
  padding-left: 10px;
  padding-right: 10px;
}

:local(.detailsColor) {
  color: rgb(220, 220, 220);
  font-size: 11px;
}

:local(.ratingBox) {
  width: 92px;
  height: 42px;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  padding-left: 140px;
}

:local(.starImg) {
  height: 25px;
  width: 25px;
  padding-top: 10px;
}

:local(.reviewCounts) {
  display: flex;
  flex-direction: column;
}

:local(.review_average) {
  color: white;
  font-size: 24px;
  padding-left: 5px;
}

:local(.rateThis) {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

:local(.rateThisStar) {
  height: 25px;
  width: 25px;
  padding-left: 5px;
  padding-top: 3px;
  color: white;
}

:local(.rateThisText) {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 13px;
  padding-left: 3px;
  padding-top: 1px;
}

:local(.reviewSpacer) {
  background-color: grey;
  width: 1px;
  height: 40px;
  display: flex;
  margin-left: 10px;
  padding-left: 1px;
}

:local(.outOfTen) {
  color: #6b6b6b;
  font-size: 10px;
}

:local(.totalReviews) {
  color: silver;
  font-size: 10px;
  display: flex;
  align-self: center;
  padding-left: 5px;
}

:local(.images) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 268px;
}

:local(.Poster) {
  display: flex;
  max-width: 182px;
  max-height: 268px;
}

:local(.imageSpacer) {
  width: 10px;
}

:local(.secondImage) {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}

/* add in theatres flag to state */
:local(.howToWatch) {
  height: 56px;
  width: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

:local(.howToWatchText) {
  padding-left: 10px;
  color: #136cb2;
  font: 16px Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;

  padding: 18px 20px;
}

:local(.bottomTextArea) {
  background-color: #f6f6f6;
  display: flex;
  width: 649px;
  height: 170px;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
}

:local(.movieDescription) {
  padding-bottom: 16px;

  line-height: 18px;
  color: #333;
  font-size: 13px;
}

:local(.rightArrows) {
  height: 10px;
  width: 10px;
}

:local(.detailsHeader) {
  color: #666666;
  font-size: 13px;
  margin: 0.35em 0 0.25em;
  font-weight: bold;
}

:local(.detailsBody) {
  color: #136cb2;

  font-size: 13px;
  font-weight: normal;
}

:local(.addToWatchlistIcon) {
  width: 250px;
  height: 42px;
  padding-left: 17px;
  background-color: #0091ea;
  border-radius: 2px;
  margin-top: 9px;
  text-align: center;
  display: flex;
  align-items: center;
}

:local(.addToWatchlistText) {
  background-size: 8px;
  background-position-y: 4px;
  color: white;
  text-align: center;
  height: 16px;
  width: 230px;

  font-size: 13px;
}

:local(.bottomReview) {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  color: #333;
  font-size: 13px;
}

:local(.reviewUserCount) {
  color: #136cb2;
  font-size: 11px;
}
